<header>
  <nav>
    <div class="nav-btn home">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    </div>
    <div class="nav-btn meal">
        <a [routerLink]="['/meal']" routerLinkActive="router-link-active">Meal Planner</a>
    </div>
    <div class="nav-btn form">
        <a [routerLink]="['/form']" routerLinkActive="router-link-active">Form Builder</a>
    </div>
    <div class="nav-btn budget">
        <a [routerLink]="['/budget']" routerLinkActive="router-link-active">Budget</a>
    </div>
    <div class="nav-btn calculator">
        <a [routerLink]="['/calculator']" routerLinkActive="router-link-active">Calculator</a>
    </div>
    <div class="nav-btn meme">
        <a [routerLink]="['/meme']" routerLinkActive="router-link-active">Meme Generator</a>
    </div>
  </nav>
</header>